/*  HEADINGS SIZES  */

h1 {
    font-size: 46px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

/*  HEADINGS SIZES  */

a {
    text-decoration: none;
}

b {
    font-weight: 500;
}

.container-max {
    height: 720px;
}

.container-min {
    height: 610px;
}

.container-margin {
    width: 85%;
    margin: 0 auto;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.hero {
    background: linear-gradient(270deg, rgba(0,49,102,1) 0%, rgba(0,122,255,1) 100%);
    padding-top: 30px;
    color: white;
}

.hero__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.menu__link {
    color: white;
}

.hero__textbox {
    height: 300px;
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textbox__btn {
    padding: 20px 40px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 135%;
    color: #003166;
}




.info__top {
    height: 580px;
    background: url("../img/info-bg.svg") no-repeat center;
    display: flex;
    align-items: center;
}

.top__textbox {
    width: 714px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 150%;
}

.info__bot {
    height: 140px;
    background: linear-gradient(270deg, rgba(0,49,102,1) 0%, rgba(0,122,255,1) 100%);
    display: flex;
    align-items: center;
    text-align: start;
    color: white;
}




.vendoo {
    background-color: #6856C9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vendoo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vendoo__content {
    width: 40%;
}

.content__tech {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 45px;
}

.tech__container {
    padding: 6px 15px;
    border: 1px solid white;
    border-radius: 50px;
}

.content__heading {
    margin-top: 25px;
    line-height: 135%;
    font-weight: 400;
}

.jobpixel {
    background-color: #3C4147;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}