a {
    text-decoration: none;
}

.container-max {
    height: 720px;
}

.container-min {
    height: 610px;
}

.hero {
    background: linear-gradient(270deg, rgba(0,49,102,1) 0%, rgba(0,122,255,1) 100%);
}

.left__btn {
    padding: 20px 40px;
    border-radius: 50px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 135%;
    color: #003166;
}